
@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');


body {
      background-color: thistle;
      font-family: 'Inknut Antiqua', serif;
      color: black;
     }

h3 {
    margin-left: 30%;
    margin-top: 3%;
    }


@fontface {
  font-family: 'Inknut Antiqua', serif;
  src: url('https://fonts.googleapis.com/css?family=Inknut+Antiqua')
}


 Button {
  margin-top: 10px;
  margin-left: 10px;
}

 .line {
   background-color: thistle;
   height: 100;
   width: 50;
   border-style: none;
 }

 .cardNm {
   font-size: 12px;
   margin-top: 5px;
 }


/* button {
    margin-bottom: 5%;
    color: white;
    background-color: black;
} */
